<div class="contain">
    <div class="sidebar">
        <div class="room">
            <h5>Chat Room</h5>
            <ul class="room-list">
                <li>1</li>
                <li>2</li>
            </ul>
        </div>
        <div class="member">
            <h5>Direct Message</h5>
            <ul id="member-list">
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="group">
            <h2 class="group-name"> {{ room }} : </h2>
            <ul class="group-member">
                <li class="group-member_list">
                    <h2>A</h2>
                </li>
                <li class="group-member_list">
                    <h2>B</h2>
                </li>
            </ul>
        </div>
        <div class="chat">
            <div class="timeline">
                <form method="post" action="/">
                    <div class="user">
                        <div class="room-login_user">
                            ログインユーザ：{{ userName }}さん
                            <input id="tluserName" type="hidden" value={{ userName }}>
                            <input id="tlroom" type="hidden" value={{ room }}>
                        </div>
                        <div class="room-exit">
                            <input type="button" value="退室する" class="common-button room-exit_button" onclick="exit();">
                        </div>
                    </div>
                    <div class="room-message">
                        <textarea id="tlmessage" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"
                            <!--onkeypress="publish(event.keyCode);" --></textarea>
                    </div>
                    <div class="room-submit">
                        <input id="tlpost" type="button" value="投稿" class="common-button room-publish_button"
                            onclick="timelinePublish();">
                        <input type="button" value="メモ" class="common-button room-memo_button" onclick="memo();">
                        <input id="tlsort" type="button" value="新しいもの順" class="common-button room-memo_button"
                            onclick="OnReverse('tl');">
                    </div>
                    <div class="room-thread">
                        <div id="tlthread"></div>
                    </div>
                </form>
            </div>

            <div class="groupchat">
                <form method="post" action="/">
                    <div class="user">
                        <div class="room-login_user">
                            ログインユーザ：{{ userName }}さん
                            <input id="gruserName" type="hidden" value={{ userName }}>
                            <input id="grroom" type="hidden" value={{ room }}>
                        </div>
                        <div class="room-exit">
                            <input type="button" value="退室する" class="common-button room-exit_button" onclick="exit();">
                        </div>
                    </div>
                    <div class="room-message">
                        <textarea id="grmessage" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"
                            <!--onkeypress="publish(event.keyCode);" --></textarea>
                    </div>
                    <div class="room-submit">
                        <input id="grpost" type="button" value="投稿" class="common-button room-publish_button"
                            onclick="groupchatPublish();">
                        <input type="button" value="メモ" class="common-button room-memo_button" onclick="memo();">
                        <input id="grsort" type="button" value="新しいもの順" class="common-button room-memo_button"
                            onclick="OnReverse('gr');">
                    </div>
                    <div class="room-thread">
                        <div id="grthread"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="rightbar">
        <h4 class="dmroom">Direct Message to ~</h4>
    </div>
</div>



<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
{{!-- <script src="/javascripts/publish.js"></script> --}}
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
<script src="/javascripts/timeline.js"></script>
<script src="/javascripts/groupchat.js"></script>
<script src="/javascripts/helper.js"></script>
